<div class="contianer p-3 min-vh-100">
    <!--body row 1-->
    <div class="row justify-content-md-center align-items-center">

        <!--body col 1-->
        <div class="col-md-auto justify-content-md-center">
            <img src="{{ '/assets/img/dp1.jpeg' | relative_url }}" height="300" class="rounded-circle m-4 photo-shadow">
        </div>


        <!--body col 2-->
        <div class="col">
            <!--body col 2 row 1-->
            <div class="row mb-3 justify-content-md-left align-items-left intro-title" id="intro_title">
                <!-- GREETING TEXT -->
            </div>
            <!--body col 2 row 2-->
            <div class="row text-white p-3 mb-4 rounded-4 glass-bg big-shadow" id="intro_text">
                <!--- INTRO TEXT -->
            </div>

        </div>
    </div>
</div>