<!-- landing page -->

<div class="d-inline-block m-2 p-3 mt-5" style="min-height: 100vh; text-align:center;">

    <h1 class="intro-header position-absolute top-50 start-50 translate-middle">
        <p class="heading-shadow" style="margin-bottom: 120px;">
            Audio Services?<br>
            Right here.
        </p>
        <a href="#servicesOffered" class="btn intro-header p-2 px-5  glass rounded-4 btn-shadow" type="button">Find
            out</a>
    </h1>

</div>


<div class="d-inline-block">
    <div class="container-fluid text-center p-3 glass">
        <center class="quote-text" id="quote"></center>
        <center class="quote-author" id="author"></center>
    </div>
</div>