<!-- landing page -->
<div class="background-landing min-vh-100 p-5">
    <div class="text-center">
        <h1 class="intro-header" style="margin-top: 25vh;">
            <div id="skills" class="heading-shadow">Audio?</div>
            <div class="heading-shadow" style="margin-bottom: 120px;">Right here.</div>
            <a href="#servicesOffered" class="btn intro-header p-2 px-5 glass rounded-4 btn-shadow" type="button">Find
                out
            </a>
        </h1>
        <div class="container-fluid position-absolute bottom-0 start-50 translate-middle-x text-center p-3 glass">
            <center class="quote-text" id="quote"></center>
            <center class="quote-author" id="author"></center>
        </div>
    </div>
</div>