<div class="container-fluid background-portfolio">
    <div class="container glass rounded-4 big-shadow p-3 mt-5 mb-5">
        <h2 class="intro-header text-center">Sound Design</h2>
        <div class="row text-center">
            <p class="text-white">Sound design is the art and practice of creating and manipulating audio elements to
                enhance storytelling
            </p>
        </div>
        <hr class="text-white">
        <div class="container m-auto mt-5 mb-5">
            <div class="row row-cols-1 row-cols-md-2 g-4 align-items-center">
                <div class="col">
                    <div class="card text-bg-dark big-shadow rounded-4">
                        <iframe class="iframe-video rounded-4"
                            src="https://www.youtube.com/embed/VyzRKDoB1O8?si=51XKNVWeWOm0ijHb"
                            title="YouTube video player" frameborder="0"
                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                            referrerpolicy="strict-origin-when-cross-origin" allowfullscreen>
                        </iframe>
                    </div>
                </div>
                <div class="col">
                    <div class="card text-bg-dark big-shadow rounded-4">
                        <iframe class="iframe-video rounded-4"
                            src="https://www.youtube.com/embed/JVE3We4pTGs?si=JEbNMkn29EFvJ1zH"
                            title="YouTube video player" frameborder="0"
                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                            referrerpolicy="strict-origin-when-cross-origin" allowfullscreen>
                        </iframe>
                    </div>
                </div>
                <div class="col">
                    <div class="card text-bg-dark big-shadow rounded-4">
                        <iframe class="iframe-video rounded-4"
                            src="https://www.youtube.com/embed/mQ5pwkjWweE?si=2oY7KQlWhvywshQa"
                            title="YouTube video player" frameborder="0"
                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                            referrerpolicy="strict-origin-when-cross-origin" allowfullscreen>
                        </iframe>
                    </div>
                </div>
                <div class="col">
                    <div class="card text-bg-dark big-shadow rounded-4">
                        <iframe class="iframe-video rounded-4"
                            src="https://www.youtube.com/embed/6EB155FztnA?si=tBBpz7S0rVfzja88"
                            title="YouTube video player" frameborder="0"
                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                            referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>