<div class="container-fluid background-portfolio">
    <div class="container glass rounded-4 big-shadow p-3 mt-5 mb-5">
        <h2 class="intro-header text-center">Sound Design</h2>
        <div class="row text-center">
            <p class="text-white">Sound design is the art and practice of creating and manipulating audio elements to
                enhance storytelling
            </p>
        </div>
        <hr class="text-white">
        <div class="container m-auto mb-5">
            <div class="row row-cols-1 row-cols-md-2 g-4 align-items-center">
                <div class="col">
                    <div class="card text-bg-dark rounded-3 big-shadow">
                        <div id="carouselExample" class="carousel slide">
                            <div class="carousel-inner">
                                <div class="carousel-item active">
                                    <iframe class="iframe-video"
                                        src="https://www.youtube.com/embed/VyzRKDoB1O8?si=51XKNVWeWOm0ijHb"
                                        title="YouTube video player" frameborder="0"
                                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                                        referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                                </div>
                                <div class="carousel-item">
                                    <iframe class="iframe-video"
                                        src="https://www.youtube.com/embed/JVE3We4pTGs?si=JEbNMkn29EFvJ1zH"
                                        title="YouTube video player" frameborder="0"
                                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                                        referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                                </div>
                                <div class="carousel-item">
                                    <iframe class="iframe-video"
                                        src="https://www.youtube.com/embed/mQ5pwkjWweE?si=2oY7KQlWhvywshQa"
                                        title="YouTube video player" frameborder="0"
                                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                                        referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                                </div>
                            </div>
                            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample"
                                data-bs-slide="prev">
                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Previous</span>
                            </button>
                            <button class="carousel-control-next" type="button" data-bs-target="#carouselExample"
                                data-bs-slide="next">
                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Next</span>
                            </button>
                        </div>
                        <div class="card-body">
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk
                                of the card's content.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>