<!-- services -->
<div id="servicesOffered"></div>


<div class="container-fluid background-services">
    <br><br><br><br>


    <div class="container glass rounded-4 big-shadow p-3 mb-5" style="max-width:max-content;">
        <div class="row text-center">
            <p class="text-white">Welcome to my portfolio! With 6 years of experience, I specialize in music production, sound design, and
                film mixing. Crafting immersive sonic experiences is my passion, whether it's creating background scores
                for film or perfecting post-production mixes. Let's bring stories to life through the power of sound.
            </p>
        </div>
        <div class="m-5">
            <div class="row row-cols-1 row-cols-md-2 g-4 align-items-center">
                <div class="col">
                    <div class="card  mb-3" style="max-width: 540px;">
                        <div class="row g-0">
                            <div class="col-md-4">
                                <img src="/Portfolio/assets/img/designImg.png" class="img-fluid rounded-start"
                                    alt="...">
                            </div>
                            <div class="col-md-8">
                                <div class="card-body">
                                    <h5 class="card-title">Sound Design</h5>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card  mb-3" style="max-width: 540px;">
                        <div class="row g-0">
                            <div class="col-md-4">
                                <img src="/Portfolio/assets/img/bgm2.png" class="img-fluid rounded-start" alt="...">
                            </div>
                            <div class="col-md-8">
                                <div class="card-body">
                                    <h5 class="card-title">Music Production</h5>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card  mb-3" style="max-width: 540px;">
                        <div class="row g-0">
                            <div class="col-md-4">
                                <img src="/Portfolio/assets/img/mixing.png" class="img-fluid rounded-start" alt="...">
                            </div>
                            <div class="col-md-8">
                                <div class="card-body">
                                    <h5 class="card-title">Mixing & Mastering</h5>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card  mb-3" style="max-width: 540px;">
                        <div class="row g-0">
                            <div class="col-md-4">
                                <img src="/Portfolio/assets/img/filmMix.png" class="img-fluid rounded-start" alt="...">
                            </div>
                            <div class="col-md-8">
                                <div class="card-body">
                                    <h5 class="card-title">Film Mixing</h5>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>