<!-- services -->
<div id="servicesOffered"></div>


<div class="container-fluid background-services">
    <br><br><br><br>


    <div class="container glass rounded-4 big-shadow p-3 mb-5" style="max-width: 90vh;">
        <h2 class="intro-header text-center">Hello friend, my name is Raj.</h2>
        <hr class="text-white">
        <div class="row text-center">
            <p class="text-white">Welcome to my portfolio<br>
                With 6 years of experience, I specialize in music production, sound design, and
                film mixing. Crafting immersive sonic experiences is my passion, whether it's creating background scores
                for film or perfecting post-production mixes.<br>
                Let's bring stories to life through the power of sound.
            </p>
        </div>

        <div class="m-5">
            <div class="row row-cols-1 row-cols-md-2 g-4 align-items-center">
                <div class="col">
                    <div class="card text-bg-dark big-shadow">
                        <img src="/Portfolio/assets/img/designImg.png" class="card-img">
                        <div class="card-img-overlay text-center align-items-center">
                            <div>
                                <h5 class="card-title card-text-shadow p-2 rounded">Sound Design</h5>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card text-bg-dark big-shadow">
                        <img src="/Portfolio/assets/img/bgm2.png" class="card-img">
                        <div class="card-img-overlay text-center align-items-center">
                            <div>
                                <h5 class="card-title card-text-shadow p-2 rounded">Music Production</h5>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card text-bg-dark big-shadow">
                        <img src="/Portfolio/assets/img/mixing.png" class="card-img">
                        <div class="card-img-overlay text-center align-items-center">
                            <div>
                                <h5 class="card-title card-text-shadow p-2 rounded">Mixing & Mastering</h5>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card text-bg-dark big-shadow">
                        <img src="/Portfolio/assets/img/filmMix.png" class="card-img">
                        <div class="card-img-overlay text-center align-items-center">
                            <div>
                                <h5 class="card-title card-text-shadow p-2 rounded">Film Mixing</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <hr class="text-white">
        <small class="text-white">ps- all these images are mine</small>
    </div>
</div>