<!-- services -->
<div class="container-fluid position-relative min-vh-100 mb-5">
    <div id="servicesOffered" class="position-absolute start-50 translate-middle-x mb-5 text-white text-center">
        <h2 class="intro-header mb-5" style="margin-top: 15vh;">
            Services Offered
        </h2>

        <div class="mb-5">
            <div class="row row-cols-1 row-cols-md-2 g-4">
                <div class="col">
                    <div class="text-white card glass big-shadow" style="width: 18rem;">
                        <img src="/Portfolio_Test/assets/img/designImg.png" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">
                                Sound Design
                            </h5>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk
                                of the
                                card's
                                content.</p>
                        </div>
                    </div>
                </div>

                <div class="col">
                    <div class="text-white card glass big-shadow" style="width: 18rem;">
                        <img src="/Portfolio_Test/assets/img/bgm2.png" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">
                                Music Production
                            </h5>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk
                                of the
                                card's
                                content.</p>
                        </div>
                    </div>
                </div>

                <div class="col">
                    <div class="text-white card glass big-shadow" style="width: 18rem;">
                        <img src="/Portfolio_Test/assets/img/mixing.png" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">
                                Mixing & Mastering
                            </h5>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk
                                of the
                                card's
                                content.</p>
                        </div>
                    </div>
                </div>

                <div class="col">
                    <div class="text-white card glass big-shadow" style="width: 18rem;">
                        <img src="/Portfolio_Test/assets/img/filmMix.png" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">
                                Film Mixing
                            </h5>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk
                                of the
                                card's
                                content.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>