.background {
    background: linear-gradient(270deg, rgb(252, 118, 0), rgb(204, 0, 255), rgb(21, 0, 255));
    background-size: 400% 400%;

    -webkit-animation: background 45s ease infinite;
    -moz-animation: background 45s ease infinite;
    animation: background 45s ease infinite;
}
@-webkit-keyframes background {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@-moz-keyframes background {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@keyframes background {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}

.glass {
    background-color: rgba(0, 0, 0, 0.45);
    backdrop-filter: blur(15px);
    border: 1px solid rgba(255, 255, 255, 0.2);
}
.glass-bg {
    background-color: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(10px);
}
.big-shadow {
    box-shadow: 0px 12px 50px rgba(0, 0, 0, 0.5);
}
.photo-shadow {
    box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.75);
}

.navbar-brand {
    font-family: 'Poppins', sans-serif;
    color: rgb(255, 255, 255);
    text-shadow: 0.5px 0.5px 0px rgb(123, 0, 255), 1px 1px 0px rgb(78, 122, 255);
}
.nav-link {
    color: white;
}
.navbar-toggler{
    border: none;
    color: rgba(0, 0, 0, 0);
    border-color: rgba(255, 255, 255, 0.5);
}
.navbar-toggler-icon {
    border: none;
    color: rgb(255, 255, 255);
}

.footer {
    color: rgb(255, 255, 255);
    text-shadow: -1px -1px 0px rgba(0, 0, 0, 0.25);
    border: 100px solid #000000;
    border-width: 0px;
}